/* reset */
@import url(reset.css);

/* index.css common */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url(../fontawesome-free-5.15.4-web/css/all.css);
@import url(../icofont/icofont.css);
@import url(../icofont/icofont.min.css);

/* common */
body { font-family: 'Noto Sans KR','Roboto',sans-serif; color: #101820; font-size: 16px; box-sizing: border-box; overflow-x: hidden; } 
a { text-decoration: none; color: #101820; } 

.menubold { font-weight: 500; } 
a, a:hover { text-decoration: none; box-sizing: border-box; }

/* in search box common */
.srch_tip { display: flexbox; flex-direction: row; flex-wrap: nowrap; justify-content: center; margin: 30px auto 0; box-sizing: content-box; } 
.srch_tip>h3 { display: flex; color: #76777B; font-weight: 500; width: 100%; margin-bottom: 10px; } 
.srch_tip>div.srch_tips { display: flexbox; flex-direction: row; flex-wrap: wrap; width: 100%; } 
.srch_tip>div.srch_tips>a { display: inline-block; text-decoration: none; font-size: 16px; border: 1px solid #ccc; border-radius: 3px; background-color: #f7f7f7; padding: 4px 10px; color: #76777b; margin: 10px 4px 0 0; font-weight: 400; transition: all 0.2s ease-in-out; } 
.srch_tip>div.srch_tips>a:hover { background-color: transparent; color: #0071E3; border-color: #0071E3; } 


/* 더보기 all-in common */
a.more { position: relative; box-sizing: border-box; display: inline-block; overflow: visible; padding: 15px 30px; border: 1px solid #101820; background-color: transparent; color: #101820; font-size: 17px; text-align: center; text-decoration: none; letter-spacing: 0; vertical-align: middle; line-height: 1.2; -webkit-transition: color 0.3s cubic-bezier(0.25, 0.45, 0.5, 1); -o-transition: color 0.3s cubic-bezier(0.25, 0.45, 0.5, 1); -moz-transition: color 0.3s cubic-bezier(0.25, 0.45, 0.5, 1); transition: color 0.3s cubic-bezier(0.25, 0.45, 0.5, 1); } 
a.more::before { content: ''; position: absolute; top: -2px; right: -2px; bottom: -2px; left: -2px; background-color: #0071E3; transform: scale(0, 1); transform-origin: right center; -webkit-transition: transform 0.3s cubic-bezier(0.25, 0.45, 0.5, 1); -o-transition: transform 0.3s cubic-bezier(0.25, 0.45, 0.5, 1); -moz-transition: transform 0.3s cubic-bezier(0.25, 0.45, 0.5, 1); transition: transform 0.3s cubic-bezier(0.25, 0.45, 0.5, 1); } 
a.most { border-color: #fff; color: #fff; } 
a.more:hover, 
a.more:focus { text-decoration: none; color: #fff; } 
a.more:hover::before,
a.more:focus::before { transform: scale(1, 1); transform-origin: left center; } 
a.more span.more_plus { position: relative; z-index: 1; display: inline-block; pointer-events: none; } 


/* plus 버튼 all-in common */
a.plus>span { display: inline-block; text-indent: -9999px; overflow: hidden; } 
a.plus { display: block; border: 1px solid #101820; width: 35px; height: 35px; background-color: transparent; -webkit-transition: transform 0.3s ease-in-out; -moz-transition: transform 0.3s ease-in-out; -o-transition: transform 0.3s ease-in-out; transition: transform 0.3s ease-in-out; } 
a.plus>i { display: block; text-align: center; line-height: 35px; color: #101820; font-size: 16px; transform: rotate(0deg); -webkit-transition: transform 0.3s ease-in-out; -moz-transition: transform 0.3s ease-in-out; -o-transition: transform 0.3s ease-in-out; transition: transform 0.3s ease-in-out; } 
a.plus:hover { background: #101820; } 
a.plus:hover>i { transform: rotate(90deg); color: #fff; } 

.foot_inner>button[type="button"] { position: absolute; right: 10px; top: -15px; display: block; width: 40px; height: 40px; padding: 0;
  background: #101820; color: #fff; -webkit-transition: background-color 0.3s ease-in-out; 
  -o-transition: background-color 0.3s ease-in-out; -moz-transition: background-color 0.3s ease-in-out; 
  transition: background-color 0.3s ease-in-out; }
.foot_inner>button[type="button"]>i { padding: 12px 13px; }
.foot_inner>button[type="button"]>span { display: block; text-indent: -9999px; overflow: hidden; }
.foot_inner>button[type="button"]:hover { background: #0071E3; }


/* gotomall */ 
a.gotomall { display: block; position: absolute; right: 20px; bottom: 16px; width: 110px; height: 110px; text-indent: -9999px; overflow: hidden; background-image: url(../images/homepage_banner3.png); background-size: 110px; } 



/* main 가로 정렬 main 세로 정렬 */
/* Now 가로 2개 */
/* header 락앤락몰 버튼 삭제 */
@media screen and ( min-width: 969px) {



  a span.linear { display: inline-block; background-image: linear-gradient(transparent 93%, #101820 1px); background-repeat: no-repeat; background-size: 0% 100%; -webkit-transition: background-size 0.3s ease-in-out 0s; -o-transition: background-size 0.3s ease-in-out 0s; -moz-transition: background-size 0.3s ease-in-out 0s; transition: background-size 0.3s ease-in-out 0s; }
  a:focus span.linear,
  a:hover span.linear { background-size: 100% 100%; } 



  /* display: none; */
 button.pc { display: none; } 
 video.mo { display: none; } 
 .foot_address button { background: transparent; } 
 .foot_address button>span.mo { display: none; } 

 /* header */
 #header { z-index: 3; position: absolute; width: 100vw; height: 63px; background: transparent; margin: 0 auto; } 
 #header_wrap { width: 100vw; height: 63px; background-color: transparent; margin: 0 auto; } 
 #header_inner { width: 100vw; height: 63px; margin: 0 auto; background-color: transparent; -o-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; transition: all 0.3s ease-in-out 0s; } 
 #header_menu { display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: space-between; width: 90vw; height: 63px; margin: 0 auto; } 
 #header_inner.iswhite, 
 #header_inner.is-active { background-color: #fff; border-bottom: 1px solid #ccc; } 

/* layout */
 #main_visual { position: relative; width: 100vw; height: 100vh; margin: 0 auto; overflow: hidden; } 
 #container { width: 100vw; margin: 0 auto; overflow: hidden; } 
 .promotion { width: 100vw; height: 400vh; margin: 0 auto; } 
 .content1 { width: 100vw; margin: 0 auto; padding-top: 90px; } 
 .content2 { width: 100vw; margin: 0 auto 110px; padding: 80px 0 80px; background-color: #f7f7f7; } 
 .content3 { width: 100vw; margin: 0 auto 110px; } 
 .content3::after { content: ""; display: block; clear: both; } 
 .co_banner { width: 100vw; height: 450px; margin: 0 auto 110px; background: url(../images/banner-lg.jpg) no-repeat center center; } 
 .content4 { width: 100vw; margin: 0 auto 66px; } 
 #foot_wrap { width: 100vw; margin: 0 auto; padding: 55px 0px 65px; border-top: 1px solid #ccc; } 
 .foot_inner { position: relative; margin: 0 auto; display: flex; flex-direction: column; flex-wrap: wrap; justify-content: space-between; box-sizing: border-box; } 


 /* class iswhite, is-active */
 #header_inner.iswhite h1.logo.w>a,
 #header_inner.is-active h1.logo.w>a { z-index: 40; background: url(../images/logo_b.png) no-repeat 0 50%; border: none; } 
 #header_inner nav.gnb>ul>li>a { color: #fff; } 
 #header_inner.iswhite nav.gnb>ul>li>a,
 #header_inner.is-active nav.gnb>ul>li>a { font-weight: 500; letter-spacing: -0.5px; color: #101820; } 

 #header_inner nav.gnb>ul>li:nth-of-type(2)>div>ul>li>div>ul>li>a { color: #54565B; font-size: 15px; font-weight: 500; padding-top: 15px; } 
 #header_inner nav.gnb>ul>li:nth-of-type(2)>div>ul>li>div>ul>li>a:hover { color: #101820; } 
 #header_inner.iswhite section.topMenu>ul>li:nth-child(2)>button.langBtn,
 #header_inner.is-active section.topMenu>ul>li:nth-child(2)>button.langBtn { z-index: 40; color: #101820; cursor: pointer; } 
 #header_inner.iswhite button.srch_on,
 #header_inner.is-active button.srch_on { background: url(../images/btn_srch_ico_b.png) no-repeat 50% 45%; cursor: pointer; z-index: 40; } 
 

 /* logo */
 h1.logo.w { display: inline-flex; margin-right: auto; } 
 h1.logo.w>a { display: block; width: 134px; height: 63px; background: url(../images/logo_w.png) no-repeat 0 50%; text-indent: -9999px; overflow: hidden; } 

 /* mobile button */
 nav.gnb button { height: 64px; background: transparent; } 
 #header span.mo { display: none; } 


 /* gnb */
 nav.gnb { display: inline-flex; flex-direction: row; flex-wrap: wrap; margin-left: 6.9vw; } 

 nav.gnb>ul { width: 100%; height: 100%; text-align: center; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; } 
 .gnb>ul>li { display: flex; vertical-align: top;  } 
 .gnb>ul>li>a { display: inline-block; text-align: center; z-index: 1; width: 100%; height: 64px; line-height: 63px; padding: 0 25px; box-sizing: border-box; font-size: 17px;
                 font-weight: 500; letter-spacing: -0.5px; font-family: 'Roboto', sans-serif; background-image: linear-gradient(transparent 95%, #101820 4px);  background-size: 0% 100%; background-repeat: no-repeat; -webkit-transition: background-size 0.3s ease-in-out 0s; -o-transition: background-size 0.3s ease-in-out 0s; -moz-transition: background-size 0.3s ease-in-out 0s; transition: background-size 0.3s ease-in-out 0s; } 
 .gnb>ul>li>a:hover{ background-size: 100% 100%; font-weight: 700; } 

 .gnb>ul>li>div { display: none; width: 100%; height: 126px; position: absolute; left: 0; top: 0; right: 0; margin: 0 auto; border-top: 1px solid #ccc;
                  -o-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s;  transition: all 0.3s ease-in-out 0s; z-index: 0; } 
 .gnb>ul>li>div.wrap:before { content: ""; display: block; position: absolute; width: 100vw; left: 0; right: 0; top: 63px; border-top: 1px solid #ccc; }        
 .gnb>ul>li.pc>div.wrap.on { display: block; }
 .gnb>ul>li>div>ul { display: block; text-align: center; margin-top: 63px; } 
 .gnb>ul>li>div>ul>li { display: inline-block; vertical-align: top; line-height: 2.0; margin-right: 38px; } 
 .gnb>ul>li>div>ul>li>a { display: block; line-height: 63px; color: #101820; } 
 .gnb>ul>li>div>ul>li>a>span { line-height: 20px; } 
 .gnb>ul>li:nth-of-type(2)>div>ul>li>div>ul>li>a>span { line-height: 18px; } 
 .gnb>ul>li.pc:first-of-type>div.wrap.on { background-color: #fff; }
 .gnb>ul>li.pc:first-of-type>div.wrap.on>ul { margin-left: -360px; }
 .gnb>ul>li.pc:nth-of-type(2)>div.wrap.on { height: 350px; background-color: #fff; } 
 .gnb>ul>li.pc:nth-of-type(2)>div.wrap.on>ul { padding-bottom: 43px; }
 .gnb>ul>li.pc:nth-of-type(2)>div.wrap.on>ul>li { text-align: left; } 
 .gnb>ul>li.pc:nth-of-type(2)>div.wrap.on>ul>li>a { font-size: 16px; font-weight: 500; font-family: 'Roboto', sans-serif; } 
 .gnb>ul>li.pc:nth-of-type(3)>div.wrap.on { background-color: #fff; } 
 .gnb>ul>li.pc:nth-of-type(3)>div.wrap.on>ul { margin-left: 60px; } 
 .gnb>ul>li.pc:nth-of-type(4)>div.wrap.on { background-color: #fff; } 
 .gnb>ul>li.pc:nth-of-type(4)>div.wrap.on>ul { margin-left: 285px; } 
 .gnb>ul>li.pc:last-of-type>div.wrap.on { background-color: #fff; } 
 .gnb>ul>li.pc:last-of-type>div.wrap.on>ul { margin-left: 465px; } 



 /* topmenu */
 div.topMenu { z-index: 250; width: 100%; line-height: 63px; height: 63px; display: flex; } 
 .topMenu>ul { display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; width: 150px; height: 100%; text-align: left; } 
 .topMenu>ul>li { display: flex; font-size: 15px; } 
 .topMenu>ul>li:first-child>a { display: none; } 
 .topMenu>ul>li:nth-child(2)>button.langBtn[type="button"] { width: 110px; height: 63px; line-height: 63px; padding-left: 40px; text-align: center; color: #fff; background: transparent; cursor: pointer; font-family: 'Roboto', sans-serif; font-size: 15px; font-weight: 700; } 
 .topMenu>ul>li:nth-child(2)>button.langBtn i { font-size: 16px; padding: 0px 8px; transform: rotate(0deg); -webkit-transition: transform 0.3s ease-in-out; -o-transition: transform 0.3s ease-in-out; -moz-transition: transform 0.3s ease-in-out; transition: transform 0.3s ease-in-out; } 
 .topMenu>ul>li:nth-child(2)>button.langBtn.active i { transform: rotate(-180deg); } 
 .topMenu>ul>li:nth-child(2)>div.lang { display: none; position: absolute; width: 110px; top: 63px; height: 61px; text-align: center; background-color: #fff; border: 1px solid #ccc;
                                        box-sizing: border-box; z-index: 250; } 
 .topMenu>ul>li:nth-child(2)>div.lang.on { display: block;  } 
 .topMenu>ul>li:nth-child(2)>div.lang a { color: #b2b2b2; font-weight: 700; letter-spacing: -0.5px; line-height: 61px; font-family: 'Roboto', sans-serif; } 
 .topMenu>ul>li:nth-child(2)>div.lang a:hover { color: #101820; } 

 /* search_button */
 .topMenu>ul>li:last-child>button[type="button"].srch_on { background: url(../images/btn_srch_ico_w.png) no-repeat 50% 45%; width: 40px; height: 65px; text-indent: -9999px; cursor: pointer; } 

 /* searchbox */
 #srch_box { z-index: 6; display: none; position: absolute; left: 0; top: 0; right: 0; width: 100vw; height: 320px; background: #fff; } 
 .srch_head { display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 100vw; height: 64px; margin: 0 auto; position: relative; } 
 .srch_head::after { content:""; display: block; position: absolute; bottom: 0; width: 100vw; border-bottom: 1px solid #ccc; }
 .srch_head>h1.logo.b { display: inline-flex; width: 135px; height: 64px; margin-left: 5vw; }
 .srch_head>h1.logo.b>a { margin: 20px 0; display: block; width: 135px; height: 21px; background: url(../images/logo_b.png) no-repeat 0 0; text-indent: -9999px; overflow: hidden; } 

 .srch_head>form { width: 40vw; height: 61px; margin-top: -2px; } 
 div.text_srch { display: inline-flex; width: 35.5vw; height: 61px; border-bottom: 1px solid #fff; transition: all 0.2s ease-in-out; } 
 .text_srch:hover { border-bottom: 1px solid #101820; } 
 .text_srch>input[type="search"] { border: none; font-size: 16px; padding: 22px 20px 22px 2px; font-weight: 500; width: 34vw; height: 61px; cursor: text; } 
 .text_srch>button[type="submit"] { width: 20px; height: 61px; padding: 16px 0; background: url(../images/btn_srch_ico_b.png) no-repeat 50% 50%; background-size: 20px; border: none; text-indent: -9999px; overflow: hidden; cursor: pointer; } 
 .srch_head>.srch_off { display: inline-flex; width: 50px; height: 63px; background: url(../images/btn_close_ico_b.png) no-repeat 0 50%; text-indent: -9999px; overflow: hidden; border: none; cursor: pointer; margin-right: 3vw; } 
 section.srch_tip { margin: 0 auto; width: 35vw; color: #76777b; padding-top: 30px; } 
 .srch_tip>h3 { float: left; width: 35vw; margin-bottom: 20px; font-weight: 600; } 
 div.srch_tips>a.tag { display: inline-block; height: 35px; line-height: 33px; background: #f7f7f7; border: 1px solid rgb(223, 223, 223); border-radius: 3px; transition: all 0.2s; text-align: center; color: #76777b; margin: 0 5px 10px 0; padding: 0 10px; } 
 .srch_tips>a.tag:hover { color: #0071E3; background: #fff; border: 1px solid #0071E3; } 

 #backdrop{ display: none; position: fixed; top: 0px; right: 0; width: 100vw; height: 100vh; background-color: rgba(216,216,216,0.1); 
            -webkit-backdrop-filter: blur(3px);  backdrop-filter: blur(3px); opacity: 1; cursor: pointer; z-index: 2; }
 #backdrop.is_active { display: block; }


/* 락앤락몰 버튼 생성 */
 @media screen and ( min-width: 1105px ) {
  #header_menu { width: 90vw; } 

 /* logo */
 h1.logo.w { display: inline-flex; } 
 nav.gnb { display: inline-flex; flex-direction: row; flex-wrap: wrap; margin: 0 auto; } 
 nav.gnb>ul { z-index: 3; width: 100%; height: 100%; text-align: center; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; } 

 /* topmenu */
 div.topMenu { width: 100%; line-height: 63px; height: 63px; display: flex; } 
 .topMenu>ul { display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; width: 275px; height: 100%; text-align: left;  } 
 .topMenu>ul>li:first-child>a { display: block; width: 88px; height: 63px; background-image: url(../images/mall_header2.png); background-repeat: no-repeat; background-size: contain;    
                                background-position: center; text-indent: -9999px; overflow: hidden; z-index: 40; } 


  .srch_head { width: 92vw; justify-content: space-between; }
  .srch_head::after {  width: 1920px; margin-left: -130px; }
  .srch_head>h1.logo.b { margin-left: 0; }
  .srch_head>form { width: 50vw; height: 61px; margin-top: -2px; } 
  .srch_head>.srch_off { background-position: 80% 50%; margin-right: 0; } 
  div.text_srch { width: 50vw; margin-left: -48px;} 
  .text_srch>input[type="search"] { width: 49.5vw; } 

  div.path { position: absolute; display: block; width: 100vw; padding: 380px 0 0 4vw; box-sizing: border-box; } 


 }


 @media screen and ( min-width: 1360px ) {
  #header_menu { width: 1360px; } 
  h1.logo.w { display: inline-flex; margin-left: 3vw; } 
 .topMenu>ul { margin-right: 3vw; } 
  .srch_head { width: 1360px; } 
  .srch_head>form { width: 50vw; } 
  .srch_head>.srch_off { background-position: 70% 50%; }
  div.text_srch { margin-left: 5vw; width: 670px; } 
  div.text_srch>input[type="search"] { width: 650px; } 
 }


 /* main_visual, main div.promotion common */
 div.path { position: absolute; display: block; width: 100%; padding: 380px 0 0 4vw; box-sizing: border-box; } 
 div.path>h3 { font-size: 46px; font-weight: 700; margin-bottom: 10px; } 
 div.path>p { font-size: 18px; margin-bottom: 35px; } 

 /* main_visual */
 section.slide_wrap { position: absolute; top: 0; width: 300vw; min-width: 58.9vw; height: 100vh; overflow: hidden; display: flex; justify-content: start; transform: translateX(0); transition: transform 0.4s linear; } 
 div.slide { flex-wrap: nowrap; flex-direction: row; color: #fff; width: 100vw; height: 100vh; } 
 .slide::before { content: ""; display: block; position: absolute; top: 0; left: 0; background-color: rgba(44, 44, 44, 0.1); width: 100%; height: 100vh; } 
 video.pc { width: 100vw; height: 100vh; object-fit: cover; object-position: 80% 30%; } 
 div.slide>div.path { z-index: 1; position: absolute; top: 0; width: 100%; height: 100%; padding-top: 525px; display: block; box-sizing: border-box; } 
 div.slide>div.path>h3.menu_bold { font-size: 64px; } 
 div.slide>div.path>p { font-size: 20px; font-weight: 700; } 

 div.slide_roll { z-index: 1; position: absolute; width: 170px; height: 30px; bottom: 80px; margin-left: 4vw; } 
 .slide_roll ul { display: flex; flex-direction: row; flex-wrap: nowrap; width: 100%; height: 100%; } 
 .slide_roll li>button[type="button"].roll{ background-color: #fff; opacity: 0.2; width: 40px; height: 3px; cursor: pointer; text-indent: -9999px; overflow: hidden; margin-right: 10px; display: inline-flex; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; } 
 .slide_roll li>button[type="button"].roll:hover, 
 .slide_roll li>button[type="button"].roll.on { opacity: 1; } 


 /* main */
 /* promotion */
 .promotion>section { min-width: 58.9vw; height: 100vh; background-repeat: no-repeat; background-size: cover; } 
 section.ad1 { background-image: url(../images/main_bg1.png); } 
 section.ad2 { background-image: url(../images/main_bg2.png); } 
 section.ad3 { background-image: url(../images/main_bg3.png); } 
 section.ad4 { background-image: url(../images/main_sale2022.png); margin-bottom: 90px; } 
 .promotion>ul>li:first-child>div.path { padding-top: 410px; } 




 /* content1, content2, content4 common */
 .content1 h2, 
 .content2 h2,
 .content3 h2,  
 .content4 h2 { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; margin: 0 auto 60px; width: 90vw; font-size: 68px; 
                font-weight: bold; line-height: 68px; } 
 .content1 h2>a.plus, 
 .content2 h2>a.plus,
 .content3 h2>a.plus,  
 .content4 h2>a.plus { display: flex; margin-top: 30px; justify-content: center; } 


 /* content1 */
 .content1_wrap { width: 90vw; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; margin: 0 auto; } 
 .content1_wrap>article { display: inline-flex; flex-direction: row; width: 28.08vw; margin-bottom: 40px; } 
 .content1_wrap>article>a { display: flex; width: 28.08vw; height: 100%; flex-direction: column; flex-wrap: wrap; } 
 .content1_wrap>article>a>div.zoom { overflow: hidden; margin-bottom: 22px; } 
 .content1_wrap>article>a>div.zoom>img { width: 100%; object-fit: cover; object-position: bottom; transform: scale(1); -webkit-transition: transform 0.4s ease-in-out; -moz-transition: transform 0.4s ease-in-out; -o-transition: transform 0.4s ease-in-out; transition: transform 0.4s ease-in-out; } 
 .content1_wrap>article>a>div.box>span:first-of-type { font-size: 14px; color: #fff; background: #54565b; padding: 5px 9px; } 
 .content1_wrap>article>a>div.box>span:nth-of-type(2) { font-size: 15px; color: #54565b; } 
 .content1_wrap>article>a>div.box>span:last-of-type { display: block; font-size: 15px; color: #76777b; margin-top: 15px; } 
 .content1_wrap>article>a>div.box>h3 { width: 100%; font-size: 20px; margin: 15px 0 10px; word-wrap: break-word; word-break: keep-all; line-height: 1.4; } 
 .content1_wrap>article>a>div.box>h3>span { color: #101820; font-weight: 700; line-height: 28px; padding: 0px; text-align: left; width: 100%; background-image: linear-gradient(transparent 93%, #101820 2px); background-repeat: no-repeat; background-size: 0% 100%; -webkit-transition: background-size 0.4s ease-in-out 0s; -moz-transition: background-size 0.4s ease-in-out; -o-transition: background-size 0.4s ease-in-out; transition: background-size 0.4s ease-in-out; } 
 .content1_wrap>article>a:hover>div.zoom img { transform: scale(1.1); } 
 .content1_wrap>article>a:hover>div.box>h3>span { background-size: 100% 100%; } 
 


  /* content2 */
  section.content2_wrap { width: 90vw; height: 700px; margin: 0 auto; position: relative; } 
  section.slideList { position: absolute; width: 90vw; height: 630px; display: flex; flex-direction: row; flex-wrap: nowrap; transform: translateX(0px); transition: all 0.2s linear; } 
  .slideList>article { width: 90vw; height: 630px; display: flex; margin-right: 4.17vw; } 
  .slideList>article>div { position: relative; display: block; width: 90vw; height: 630px; overflow: hidden; } 
  .slideList>article>a { position: absolute; display: block; color: #fff; width: 90vw; height: 630px; padding: 440px 0 60px 60px; } 
  .slideList>article img { height: 100%; object-fit: cover; transform: scale(1); -moz-transition: transform 0.4s ease-in-out; -o-transition: transform 0.4s ease-in-out; -webkit-transition: transform 0.4s ease-in-out; transition: transform 0.4s ease-in-out 0s;} 
  .slideList>article>a>h3 { font-size: 36px; font-weight: 700; line-height: 2.0; } 
  .slideList>article>a>h3>span { background-image: linear-gradient(transparent 95%, #f7f7f7 2px); background-repeat: no-repeat; background-size: 0% 100%; -webkit-transition: background-size 0.4s ease-in-out 0s; -moz-transition: background-size 0.4s ease-in-out; -o-transition: background-size 0.4s ease-in-out; transition: background-size 0.4s ease-in-out; } 
  .slideList>article>a>span { display: block; width: 100%; font-size: 15px; line-height: 24px; } 
  .slideList>article>a>span:last-child { margin-top: 20px; } 
  .slideList>article:hover>a { cursor: pointer; } 
  .slideList>article:hover img { transform: scale(1.1); } 
  .slideList>article:hover>a>h3>span { background-size: 100% 100%; } 
  
  
  div.slide2_ctrl { position: absolute; left: 0; bottom: 0; display: block; width: 90vw; height: 30px; } 
  .bar_ani { width: 76vw; height: 4px; background: #ccc; text-indent: -9999px; overflow: hidden; margin-top: 30px; } 
  .bar { width: 25.34vw; height: 4px; background-color: #101820; transform: scaleX(1); transition: all 0.2s linear; } 
  div.slide2_ctrl button>span { display: inline-block; text-indent: -9999px; overflow: hidden; } 
  div.slide2_ctrl>div.btn { position: absolute; right: 0; top: 0; width: 180px; height: 60px; } 
  div.slide2_ctrl button[type="button"] { border: none; outline: none; width: 60px; height: 60px; font-size: 36px; background: transparent; cursor: pointer; } 
  div.slide2_ctrl button[type="button"] { color: #101820; } 
  div.btn>button.prev2 { position: absolute; left: 20px; padding-bottom: 10px; } 
  div.btn>button.prev2.disable { color: #bbb; cursor: unset; position: absolute; left: 20px; padding-bottom: 10px; } 
  div.btn>div.slide_num { position: absolute; line-height: 60px; left: 80px; } 
  div.btn>div.slide_num>span { padding: 5px 4px; } 
  div.btn>button.next2 { position: absolute; left: 140px; padding-bottom: 10px; } 
  div.btn>button.next2.disable { color: #bbb; cursor: unset; } 

 /* content3 */
 .content3 h3 { font-size: 20px; }
 .content3 a { color: #101820; }
 .content3>div { box-sizing: border-box; font-size: 18px; }

 section.career { width: 90vw; margin: 0 auto; padding-bottom: 60px; }
 section.career>ul>li { width: 100%; border-top: 1px solid #ccc; padding: 18px 0 20px; }
 .career>ul>li:last-of-type { border-bottom: 1px solid #ccc; }
 .career>ul>li>a { width: 100%; display: flex; flex-wrap: wrap; }
 .career>ul>li>a>span:first-of-type { display: flex; width: 100%; margin-bottom: 9px; font-size: 20px; }
 .career>ul>li>a>h3 { display: inline-flex; width: 68vw; }
 .career>ul>li>a>span:nth-of-type(2) { display: inline-flex; width: 17vw; font-size: 16px; }
 .career>ul>li>a>span:last-of-type { display: inline-flex; width: 5vw; float: right; font-size: 16px; }

 section.contact { position: relative; width: 100vw; margin: 0 auto; padding: 75px 0; background: #f7f7f7; }
 section.contact>h2 { border-bottom: 1px solid #ccc; padding-bottom: 20px; margin-bottom: 0; }
 .contact>div.qna { width: 90vw; flex-direction: column; margin: 0 auto; position: relative; }
 .contact h3 { font-weight: 700; }
 .contact>div.qna>h3 { display: flex; margin: 20px 0 10px; }
 .contact>div.qna>p { display: block; color: #54565b; }
 .contact>div.qna>a { color: #fff; background: #000; padding: 15px 30px; float: right; margin-top: -60px; }
 .contact>div.qna_tip { padding-top: 50px; width: 90vw; margin: 0 auto; }
 .contact>div.qna_tip>h3 { margin-bottom: 20px; }
 .contact>div.qna_tip>ul>li { display: inline-block; }
 .contact>div.qna_tip>ul>li>a { font-size: 16px; display: block; border: 1px solid #101820; border-radius: 5px; padding: 6px 19px; margin: 4px 4px 4px 0px;
                                background-color: transparent; -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out; 
                                -o-transition: background-color 0.2s ease-out, color 0.2s ease-out; -moz-transition: background-color 0.2s ease-out, color 0.2s ease-out;
                                transition: background-color 0.2s ease-out, color 0.2s ease-out;}
 .contact>div.qna_tip>ul>li>a:hover { background-color: #101820; color: #fff; }
 
 
 
  /* co_banner */
  .co_banner_wrap { width: 90vw; margin: 0 auto; padding: 150px 0 0; } 
  .co_banner_wrap h2 { font-size: 28px; color: #fff; font-weight: bold; margin-bottom: 30px; } 


 /* content4 */
 .content4>div.now_inner { width: 90vw; margin: 0 auto; display: flex; } 
 div.now_inner>ul { display: flex; width: 100%; flex-wrap: wrap; justify-content: space-between; } 
 div.now_inner>ul>li { display: inline-flex; margin-bottom: 55.5px; } 
 div.now_inner>ul>li>a { display: block; color: #fff; } 
 div.now_inner>ul>li>a>div.insta { position: relative; width: 27.07vw; height: 34.07vh; overflow: hidden; } 
 div.now_inner>ul>li>a>div.insta img { width: 27.07vw; height: 34.07vh; transform: scale(1); -webkit-transition: transform 0.4s ease-in-out 0s; -moz-transition: transform 0.4s ease-in-out; -o-transition: transform 0.4s ease-in-out; transition: transform 0.4s ease-in-out; } 
 div.now_inner>ul>li>a>div.insta i { position: absolute; right: 20px; bottom: 20px; display: block; font-size: 28px; } 
 div.now_inner>ul>li>a>div.insta>span { display: block; text-indent: -9999px; overflow: hidden; } 
 div.now_inner>ul>li>a:hover>div.insta img { transform: scale(1.1); } 




 /* footer */
 /* foot_logo */
 .foot_logo { display: inline-flex; margin-bottom: 30px; order: -2; } 
 .foot_logo>a { display: block; width: 135px; height: 21px; object-fit: cover; } 

 /* go to top */
 .foot_inner>a { position: absolute; right: 10px; top: -15px; display: block; width: 40px; height: 40px; background: #101820; color: #fff; -webkit-transition: background-color 0.3s ease-in-out; -o-transition: background-color 0.3s ease-in-out; -moz-transition: background-color 0.3s ease-in-out; transition: background-color 0.3s ease-in-out; } 
 .foot_inner>a>i { padding: 12px 13px; } 
 .foot_inner>a>span { display: block; text-indent: -9999px; overflow: hidden; } 
 .foot_inner>a:hover { background: #0071E3; } 


 /* foot_address */
 section.foot_address { display: inline-flex; flex-direction: column-reverse; margin-bottom: 30px; order: -2; } 
 .foot_address>button { padding: 0; } 
 .foot_address span { display: flex; margin-top: 10px; color: #54565B; } 
 .foot_address address { display: flex; color: #54565B; font-size: 14px; font-weight: 400; line-height: 21px; } 

 section.foot_store { display: inline-flex; flex-direction: column; align-self: flex-start; order: -1; margin-bottom: 67px; } 
 ul.foot_link { display: flex; flex-wrap: wrap; margin-bottom: 10px; } 
 .foot_link>li { display: inline-flex; margin-right: 1.04vw; line-height: 21px; } 
 .foot_link>li>a { display: block; position: relative; font-size: 15px; font-weight: 500; } 
 .foot_link>li>a::after { content: url('https://api.iconify.design/eva/external-link-fill.svg'); position: absolute; top: 2px; right: -25px; } 
 .foot_link>li:last-child>a { position: relative; margin-left: 15px; } 
 .foot_link>li:last-child>a>span { margin-left: 11px; } 
 .foot_link>li:last-child>a::before { content: ""; background-color: #b2b2b2; position: absolute; width: 1px; height: 18px; } 
 ul.foot_sns { display: flex } 
 .foot_sns>li { display: inline-flex; flex-direction: row; flex-wrap: nowrap; } 
 .foot_sns>li>a { display: flex; margin: 0; box-sizing: border-box; } 
 .foot_sns>li>a:hover { color: #54565B; } 
 .foot_sns>li>a>span { display: flex; text-indent: -9999px; overflow: hidden; } 
 .foot_sns>li>a>i { display: flex; } 
 .foot_sns>li:first-of-type>a>i { padding: 11px 9px 11px 0px; font-size: 28px; } 
 .foot_sns>li:nth-of-type(2)>a>i { padding: 13px 8px 14px; font-size: 23px; } 
 .foot_sns>li:nth-of-type(3)>a>i { padding: 15px 10px; font-size: 20px; } 
 .foot_sns>li:last-of-type>a { width: 43px; height: 50px; background-image: url(../images/icon_blog_b.png); background-repeat: no-repeat; background-size: 14px; background-position: 50% 50%; } 
 .foot_sns>li:last-of-type>a:hover { background-image: url(../images/icon_blog.png); } 

 /* foot_site_map */
 section.foot_sitemap { display: inline-flex; flex-direction: row; position: absolute; right: 9.4vw; } 
 .foot_sitemap a { font-size: 15px; color: #404148; letter-spacing: -0.5px; font-family: 'Roboto', sans-serif; } 

 .foot_sitemap>ul { padding-right: 7.29vw; }
 .foot_sitemap>ul>li { display: inline-block; vertical-align: top; } 
 .foot_sitemap>ul>li:first-of-type { margin-right: 4.14vw; } 
 .foot_sitemap>ul>li:nth-of-type(2) { margin-right: 2.13vw; } 
 .foot_sitemap>ul>li:nth-of-type(3) { margin-right: 2.60vw; } 
 .foot_sitemap>ul>li:nth-of-type(4) { margin-right: 3.13vw; } 
 .foot_sitemap>ul>li>a { display: block; color: #101820; padding: 0; font-size: 15px; color: #404148; letter-spacing: -0.5px; font-family: 'Roboto', sans-serif; font-weight: 500; } 
 .foot_sitemap>ul>li>a>span.mo { display: none; }                                
 .foot_sitemap>ul>li>div { margin-top: 30px; } 
 .foot_sitemap>ul>li>div>ul>li>a { display: block; font-weight: normal; padding-bottom: 15px; } 


 /* foot_company */
 section.foot_company { display: inline-flex; flex-wrap: wrap; flex-direction: row; } 
 .foot_company>ul { display: flex; } 
 .foot_company>ul>li { display: inline-flex; position: relative; font-size: 15px; } 
 .foot_company>ul>li::before { content: ""; display: block; position: absolute; right: 0; top: 4px; width: 1px; height: 14px; background: #ccc; } 
 .foot_company>ul>li:last-child::before { content: ""; display: block; background: transparent; } 
 .foot_company>ul>li>a { display: inline-block; color: #54565B; font-weight: normal; } 
 .foot_company>ul>li>a>span { line-height: 20px; margin: 0px 10px; } 
 .foot_company>ul>li:first-child span { margin-left: 0; } 
 .foot_company>ul>li:nth-child(3) span { color: #101820; font-weight: bold; } 
 .foot_company>ul>li:last-child span { border: none; } 

 /* foot_family */
 section#foot_family { width: 210px; display: inline-flex; flex-direction: column-reverse; justify-content: flex-end; position: absolute; bottom: 0; right: 10px; } 
 #foot_family>button[type="button"].pc { display: flex; justify-content: space-between; border-bottom: 1px solid rgba(16, 24, 32, 0.4); background: none; width: 210px; height: 33px; line-height: 33px; padding: 0; position: relative; font-size: 14px; text-align: left; cursor: pointer; } 
 #foot_family>button[type="button"].pc i { display: inline-flex; font-size: 13px; transform: rotate(0deg); -webkit-transition: transform 0.3s ease-in-out; -o-transition: transform 0.3s ease-in-out; -moz-transition: transform 0.3s ease-in-out; transition: transform 0.3s ease-in-out; } 
 #foot_family>div.pc>ul { display: none; position: relative; width: 210px; height: 200px; padding: 10px 15px; background: #f7f7f7; border: 1px solid #ccc; box-sizing: border-box; } 
 #foot_family>div.pc>ul>li { display: block; position: relative; } 
 #foot_family>div.pc>ul>li>a { font-size: 14px; color: #101820; line-height: 24px; } 
 #foot_family>button[type="button"].pc.on i { transform: rotate(-180deg); } 
 #foot_family>div.pc.on>ul { display: block;  } 





 @media screen and ( max-width: 1200px ) {
   
  /* footer */
  #foot_wrap { width: 100vw; } 
  .foot_inner { width: 98vw; } 

 }





 @media screen and ( min-width: 1201px) { 

 /* main_visual, main div.promotion common */
 div.path { width: 100vw; padding: 380px 0 0 19vw; } 

/* main_visual button */

  div.slide_roll { margin-left: 19vw; } 






 /* main */
 /* content1, content2, content4 common */
 .content1 h2, 
 .content2 h2, 
 .content4 h2 { width: 1130px; font-size: 68px; } 
 .content1 h2>a.plus, 
 .content2 h2>a.plus, 
 .content4 h2>a.plus { margin: 15px 0; } 

 /* content1 */
 .content1_wrap { width: 1130px; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; margin: 0 auto; } 
 .content1_wrap>article { display: inline-flex; flex-direction: row; width: 337px; margin-bottom: 40px; } 
 .content1_wrap>article>a { display: flex; width: 337px; height: 100%; flex-direction: column; flex-wrap: wrap; } 
 .content1_wrap>article>a>div.zoom { overflow: hidden; margin-bottom: 22px; } 
 .content1_wrap>article>a>div.zoom>img { width: 100%; object-fit: cover; object-position: bottom; transform: scale(1); -webkit-transition: transform 0.4s ease-in-out; -moz-transition: transform 0.4s ease-in-out; -o-transition: transform 0.4s ease-in-out; transition: transform 0.4s ease-in-out; } 
 .content1_wrap>article>a>div.box>span:first-of-type { font-size: 14px; color: #fff; background: #54565b; padding: 5px 9px; } 
 .content1_wrap>article>a>div.box>span:nth-of-type(2) { font-size: 15px; color: #54565b; } 
 .content1_wrap>article>a>div.box>span:last-of-type { display: block; font-size: 15px; color: #76777b; margin-top: 15px; } 
 .content1_wrap>article>a>div.box>h3 { width: 100%; font-size: 20px; margin: 15px 0 10px; word-wrap: break-word; word-break: keep-all; line-height: 1.4; } 
 .content1_wrap>article>a>div.box>h3>span { color: #101820; font-weight: 700; line-height: 28px; padding: 0px; text-align: left; width: 100%; background-image: linear-gradient(transparent 93%, #101820 2px); background-repeat: no-repeat; background-size: 0% 100%; -webkit-transition: background-size 0.4s ease-in-out 0s; -moz-transition: background-size 0.4s ease-in-out; -o-transition: background-size 0.4s ease-in-out; transition: background-size 0.4s ease-in-out; } 
 .content1_wrap>article>a:hover>div.zoom img { transform: scale(1.1); } 
 .content1_wrap>article>a:hover>div.box>h3>span { background-size: 100% 100%; } 



 /* content2 */
 section.content2_wrap { width: 1130px; height: 700px; margin: 0 auto; position: relative; } 
 section.slideList { position: absolute; width: 1130px; height: 630px; display: flex; flex-direction: row; flex-wrap: nowrap; transform: translateX(0px); transition: all 0.2s linear; } 
 .slideList>article { width: 1130px; height: 630px; display: flex; margin-right: 50px; } 
 .slideList>article>div { position: relative; display: block; width: 1130px; height: 630px; overflow: hidden; } 
 .slideList>article>a { position: absolute; display: block; color: #fff; width: 1130px; height: 630px; padding: 440px 0 60px 60px; } 
 .slideList>article img { width: 1130px; transform: scale(1); -moz-transition: transform 0.4s ease-in-out; -o-transition: transform 0.4s ease-in-out; -webkit-transition: transform 0.4s ease-in-out; transition: transform 0.4s ease-in-out 0s; } 
 .slideList>article>a>h3 { font-size: 36px; font-weight: 700; line-height: 2.0; } 
 .slideList>article>a>h3>span { background-image: linear-gradient(transparent 95%, #f7f7f7 2px); background-repeat: no-repeat; background-size: 0% 100%; -webkit-transition: background-size 0.4s ease-in-out 0s; -moz-transition: background-size 0.4s ease-in-out; -o-transition: background-size 0.4s ease-in-out; transition: background-size 0.4s ease-in-out; } 
 .slideList>article>a>span { display: block; width: 100%; font-size: 15px; line-height: 24px; } 
 .slideList>article>a>span:last-child { margin-top: 20px; } 
 .slideList>article:hover>a { cursor: pointer; } 
 .slideList>article:hover>a img { transform: scale(1.1); } 
 .slideList>article:hover>a>h3>span { background-size: 100% 100%; } 
 
 
 div.slide2_ctrl { position: absolute; left: 0; bottom: 0; display: block; width: 1130px; height: 30px; } 
 .bar_ani { width: 960px; height: 4px; background: #ccc; text-indent: -9999px; overflow: hidden; margin-top: 30px; } 
 .bar { width: 320px; height: 4px; background-color: #101820; transform: scaleX(1); transition: all 0.2s linear; } 
 div.slide2_ctrl button>span { display: inline-block; text-indent: -9999px; overflow: hidden; } 
 div.slide2_ctrl>div.btn { position: absolute; right: 0; top: 0; width: 180px; height: 60px; } 
 div.slide2_ctrl button[type="button"] { border: none; outline: none; width: 60px; height: 60px; font-size: 36px; background: transparent; cursor: pointer; } 
 div.slide2_ctrl button[type="button"] { color: #101820; } 
 div.btn>button[type="button"].prev2 { position: absolute; left: 20px; top: 5px; display: flex; justify-content: center; align-items: center; } 
 div.btn>button[type="button"].prev2.disable { color: #bbb; cursor: unset; position: absolute; left: 20px; padding-bottom: 10px; } 
 div.btn>div.slide_num { position: absolute; line-height: 60px; left: 80px; } 
 div.btn>div.slide_num>span { padding: 5px 4px; } 
 div.btn>button[type="button"].next2 { position: absolute; left: 140px; top: 5px; display: flex; justify-content: center; align-items: center; } 
 div.btn>button[type="button"].next2.disable { color: #bbb; cursor: unset; } 
 
 
 
 /* content3 */
 .content3 h2 { margin-bottom: 20px; width: 100%; font-size: 42px; font-weight: bold; line-height: 87px; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; } 
 .content3 h2>a.plus { display: flex; justify-content: center; } 
 .content3 h3 { font-size: 20px; } 
 .content3 a { color: #101820; } 
 div.content3_wrap { width: 1130px; margin: 0 auto; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; } 
 .content3_wrap>section { width: 535px; box-sizing: border-box; font-size: 18px; } 
 .content3_wrap>section.career { padding: 50px 0 0; margin-left: 0; } 
 .content3_wrap>section.contact { background: #f7f7f7; padding: 50px 40px 43px 40px; box-sizing: border-box; margin-right: 0; } 


 section.career>ul>li { border-top: 1px solid #ccc; padding: 18px 0 20px; } 
 .career>ul>li:last-of-type { border-bottom: 1px solid #ccc; } 
 .career>ul>li>a { display: flex; flex-wrap: wrap; } 
 .career>ul>li>a>span:first-of-type { display: block; width: 100%; margin-bottom: 9px; font-size: 20px; } 
 .career>ul>li>a>h3 { display: inline-block; width: 320px; margin-right: 10px; } 
 .career>ul>li>a>span:nth-of-type(2) { display: inline-block; width: 150px; } 
 .career>ul>li>a>span:last-of-type { display: inline-block; width: 50px; } 

 section.contact>div.qna { position: relative; width: 100%; } 
 .contact h3 { font-weight: 700; } 
 .contact>div.qna>h3 { display: block; margin: 20px 0 10px; } 
 .contact>div.qna>p { display: block; color: #54565b; } 
 .contact>div.qna>a { position: absolute; right: 0; display: block; color: #fff; background: #000; width: 130px; height: 56px; } 
 .contact>div.qna_tip { float: left; padding-top: 50px; width: 100%; } 
 .contact>div.qna_tip>h3 { margin-bottom: 20px; } 
 .contact>div.qna_tip>ul>li { display: inline-block; } 
 .contact>div.qna_tip>ul>li>a { font-size: 16px; display: block; border: 1px solid #101820; border-radius: 5px; padding: 6px 19px; margin: 4px 4px 4px 0px; background-color: transparent; -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out; -o-transition: background-color 0.2s ease-out, color 0.2s ease-out; -moz-transition: background-color 0.2s ease-out, color 0.2s ease-out; transition: background-color 0.2s ease-out, color 0.2s ease-out; } 
 .contact>div.qna_tip>ul>li>a:hover { background-color: #101820; color: #fff; } 
 
 /* co_banner */
 .co_banner_wrap { width: 1130px; margin: 0 auto; padding: 150px 0 0; } 
 .co_banner_wrap h2 { font-size: 28px; color: #fff; font-weight: bold; margin-bottom: 30px; } 
 
 /* content4 */
 .content4>div.now_inner { width: 1130px; margin: 0 auto; display: flex; } 
 div.now_inner>ul { display: flex; width: 100%; flex-wrap: wrap; justify-content: space-between; } 
 div.now_inner>ul>li { display: inline-flex; margin-bottom: 55.5px; } 
 div.now_inner>ul>li>a { display: block; color: #fff; } 
 div.now_inner>ul>li>a>div.insta { position: relative; width: 337px; height: 337px; overflow: hidden; } 
 div.now_inner>ul>li>a>div.insta img { width: 337px; height: 337px; transform: scale(1); -webkit-transition: transform 0.4s ease-in-out 0s; -moz-transition: transform 0.4s ease-in-out; -o-transition: transform 0.4s ease-in-out; transition: transform 0.4s ease-in-out; } 
 div.now_inner>ul>li>a>div.insta i { position: absolute; right: 20px; bottom: 20px; display: block; font-size: 28px; } 
 div.now_inner>ul>li>a>div.insta>span { display: block; text-indent: -9999px; overflow: hidden; } 
 div.now_inner>ul>li>a:hover>div.insta img { transform: scale(1.1); } 


  /* footer */
 #foot_wrap { width: 100vw; } 
 .foot_inner { width: 90vw; } 

  /* foot_site_map */
  section.foot_sitemap { right: 180px; } 
  .foot_sitemap>ul { padding-right: 140px; }

 
}

/* footer only */
@media screen and ( min-width: 1401px ){
  
   /* footer */
 .foot_inner { width: 1380px; } 

  /* foot_site_map */
  section.foot_sitemap { right: 180px; } 
  .foot_sitemap>ul { padding-right: 140px; }

}

/* gotomall */ 
a.gotomall { display: block; z-index: 30; position: fixed; right: 20px; bottom: 16px; width: 110px; height: 110px; text-indent: -9999px; overflow: hidden; background-image: url(../images/homepage_banner3.png); background-size: 110px; } 


}



